.navbar-header, .navbar-collapse, .navbar-nav {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

#jot #jot-tools, #jot #jot-tools, #jot #jot-tools li {
    background-color: #111;
    color: #252525;
    border-bottom: #111;
}
a:link, a:visited, .fakelink {
    color: #111;
}
a:active, a:hover, .fakelink:hover {
    color: #444;
}
.tabs a:link, .tabs a:visited {
    color: #111;
}
.tab .active {
    border-bottom: #444;
}
